body {
 	background-image: url(Midland.png);
 	background-repeat: no-repeat;
 	background-size: 100%;
 	background-attachment: fixed;
 	background-color: #0C4591;
 
 	
 }




.container {
	margin-left: 25px;
	font-family: Verdana;
	display: flex;
	justify-content: left;
	text-align: left;
	flex-direction: column;
	line-height: 75px;
	



}

.container-section-six {
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
	flex-direction: row;
	margin-left: 0px;



}


.container-section-one {
	color: lightcyan;
	font-size: 75px;
	height: 185px;
	


}

.container-section-four {
	font-size: 50px;
	width: 500px;
	color: skyblue;
	line-height: 200px;
	filter: opacity(100%);
	
	

}
a {
	color: skyblue;
	text-decoration: none;
}

a:hover { 
	color: lightcyan;
	text-decoration: underline;
 }

.container-section-two {
	font-size: 30px;


	

	

}

.container-section-three {
	color: lightcyan;
	font-size: 15px;
	margin-bottom: 75px;
	line-height: 30px;
	


}

.container-section-five {
	
	display: flex;
	justify-content: flex-end;
	align-items: center;
	flex-direction: row;
	filter: opacity(100%);
	gap: 10px;
	margin-right: 50px;

	


}

.a1 {
	background-image: url(Arrow1.svg);
	background-repeat: no-repeat;
	height: 50px;
	width: 100px;

	


}

.a2 {
	background-image: url(Arrow2.svg);
	background-repeat: no-repeat;
	height: 50px;
	width: 100px;

}

.a1:hover {

	
	height: 55px;
	width: 105px;
}
.a2:hover {


	height: 55px;
	width: 105px;
}




@media screen and (max-width: 1065px) {

	.container {
		line-height: 50px;
	}

	.container-section-one {
		font-size: 35px;
		height: 90px;


	}
	
	.container-section-four {
		font-size: 25px

	}

	.container-section-two {
		font-size: 20px

	}

	.a1 {
	height: 35px;
	width: 65px;
	}	

	.a2 {
	height: 35px;
	width: 65px;
	}





}






@media screen and (max-width: 585px) {

	.container {
		
		
	}

	.container-section-one {
		font-size: 20px;
		height: 60px;
		
	



	}
	
	.container-section-four {
		font-size: 15px
		

	}

	.container-section-two {
		line-height: 20px;
		font-size: 10px;

	}

	.container-section-three {
		font-size: 10px;
	}

	.container-section-five {
		margin-right: 0px;
	}

	.a1 {
	height: 20px;
	width: 40px;
	}	

	.a2 {
	height: 20px;
	width: 40px;
	}




}




