body {
 	background-image: url(Midland.png);
 	background-repeat: no-repeat;
 	background-size: cover;
 	background-attachment: fixed;
 	background-color: #0C4591;
 	\
 }

.container1 {

background-color: indianred;


}


.container {
	margin-left: 25px;
	font-family: Verdana;



}

.section-one {
	color: lightcyan;
	font-size: 75px;
	line-height: 10px;
	display: flex;
	justify-content: left;
	text-align: left;
	hieght: 200px;
	


}


.section-two {
	font-size: 30px;
	line-height: 75px;
	display: flex;
	justify-content: left;
	text-align: left;
	overflow: scroll;
	
	

}

.section-three {
	color: lightcyan;
	overflow: scroll;
	font-size: 15px;




}
